
body {
    font-family: 'Space Mono', monospace;
    background-color: #212121;
    color: #fff;
}

.app-name {
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.inline {
    display: inline-block;
}

.italic {
    font-style: italic;
}

.primary-color {
    color: #bb86fc;
}

.secondary-color {
    color: #03dac6;
}

.primary-text {
    opacity: 1;
}

.secondary-text {
    opacity: 0.75;
}

.hint-text {
    opacity: 0.5;
    font-size: 14px;
}

.panel {
    position: relative;
    border-radius: 3px;
    background-color: #424242;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.close:hover {
    color: #03dac6;
}

.control-container {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

button {
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: opacity 0.3s;
}

input {
    appearance: none;
    background: none;
    font: inherit;
    outline: none;
    border: 3px solid #212121;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 7px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.3s;
}

input:disabled, button:disabled {
    opacity: 0.3;
    transition: opacity 0.3s;
    cursor: default;
    box-shadow: none !important;
}

.disabled, .disabled:hover {
    box-shadow: none !important;
}

input[type="number"] {
    width: 80px;
}

label {
    font-size: 12px;
    opacity: 0.75;
}

.file-chooser {
    /*width: 80%;*/
    /*min-width: 200px;*/
    word-break: keep-all;
    box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.file-chooser:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.file-input {
    width: calc(100% - 80px);
}

.file-button {
    width: 60px;
    background-color: #212121;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    opacity: 0.75;
}

.mode-radio {
    font-size: 12px;
    vertical-align: middle;
}

.mode-label {
    vertical-align: middle;
    margin-left: -5px;
    margin-right: 10px;
}

#pattern-preview {
    font-style: italic;
}

.go-button {
    display: block;
    background-color: #03dac6;
    color: #fff;
    opacity: 1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.go-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.msg {
    font-size: 12px;

}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
}

